---
import astro_logo from "../../../../assets/astro-logo.svg";
---

<footer class="py-4 text-center text-white">
  <p class="pb-2">
    Built with
    <a href="https://astro.build/" target="_blank">
      <img class="inline-block w-28" src={astro_logo.src} />
    </a>
  </p>
  <p>
    View source code <a
      class="text-primary underline"
      href="https://github.com/RyanGroch/Portfolio-Site"
      target="_blank">here</a
    >
  </p>
</footer>
