---
import { Icon } from "astro-icon/components";
---

<section class="relative flex min-h-[90svh] flex-col justify-center">
  <div class="pb-48 pt-8">
    <h1
      class="animate-flash px-8 pb-4 text-center font-neon text-6xl tracking-wider text-primary shadow-primary xs:text-6xl sm:text-7xl md:text-8xl lg:text-[10rem]"
    >
      R<span class="animate-blink1">y</span>an Groch
    </h1>
    <h2
      class="animate-flash text-center font-neon text-[2.3rem] tracking-widest text-secondary shadow-secondary xs:text-5xl sm:text-6xl md:text-7xl lg:text-8xl"
    >
      So<span class="animate-blink2">f</span>tware Developer
    </h2>
  </div>
  <div class="absolute bottom-24 left-0 right-0 flex justify-center">
    <a href="#about-me">
      <button
        class="animate-gentle-bob flex h-12 w-12 items-center justify-center rounded-full border-2 border-secondary bg-tertiary text-primary opacity-0 transition-all duration-500 hover:scale-[1.1] hover:border-primary hover:text-secondary sm:h-16 sm:w-16"
      >
        <Icon name="fa6-solid:caret-down" class="text-2xl sm:text-3xl" />
      </button>
    </a>
  </div>
</section>
