---
import { Icon } from "astro-icon/components";
import { ABOUT_ID } from "../../utils/section-id-list";
---

<section class="relative flex min-h-[95svh] flex-col">
  <div class="pt-[20svh]">
    <h1
      class="animate-flash font-neon text-primary shadow-primary px-8 pb-4 text-center text-6xl tracking-wider sm:text-7xl md:text-[5rem] lg:text-[8rem] xl:text-[10rem]"
    >
      R<span class="animate-blink1">y</span>an Groch
    </h1>
    <h2
      class="animate-flash font-neon text-secondary shadow-secondary xs:text-5xl text-center text-[2.5rem] tracking-widest sm:text-6xl md:text-6xl lg:text-8xl xl:text-9xl"
    >
      S<span class="animate-blink2">o</span>ftware Developer
    </h2>
  </div>
  <div class="mt-auto flex justify-center pt-8 pb-[20svh]">
    <a href={`#${ABOUT_ID}`} aria-label="Scroll to about section">
      <div
        class="animate-bob border-secondary bg-tertiary text-primary hover:border-primary hover:text-secondary flex h-12 w-12 items-center justify-center rounded-full border-2 opacity-0 transition-all duration-500 hover:scale-[1.1] sm:h-16 sm:w-16"
      >
        <Icon name="fa6-solid:caret-down" class="text-2xl sm:text-3xl" />
      </div>
    </a>
  </div>
</section>
