<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Ryan Groch's Portfolio</title>
  </head>
  <body>
    <main class="relative bg-pattern bg-cover bg-fixed">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }

  @font-face {
    font-family: "neon";
    src: url("/fonts/Neon Future.ttf") format("truetype");
  }

  @font-face {
    font-family: "staatliches";
    src: url("/fonts/Staatliches.ttf") format("truetype");
  }
</style>
