<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ryan Groch's Portfolio</title>
  </head>
  <body>
    <main class="relative bg-pattern bg-cover bg-fixed">
      <slot />
    </main>
  </body>
</html>
