<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Ryan Groch's personal software development portfolio, which describes his experience and projects."
    />
    <title>Ryan Groch's Portfolio</title>
  </head>
  <body>
    <main class="bg-pattern relative bg-cover bg-fixed">
      <slot />
    </main>
  </body>
</html>
